@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, Sans-Serif, Arial;
    font-weight: 200;
    color: #1F5B3A;
    background-color: #F8F4E3;
}

/*header and logo*/

header {
    font-family: Lobster, arial, sans-serif;
    background-color: #F8F4E3;
    overflow: auto;
}

#logo {
    font-weight: 400;
    font-size: 300%;
    float: left;
    color: #1F5B3A;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: .15rem;
}

#menu li {
    display: block;
    list-style-type: none;
    padding-right: 1rem;
    float: right;
}

#menu a {
    text-decoration: none;
    color: #1F5B3A;
}

#menu, #logo {
    line-height: 4.6rem;
}

#sign-up {
    margin-right: 1.5rem;
}

#menu a:hover {
    border-bottom: 2px solid #4C956C;
}

.current {
    border-bottom: 2px solid #4C956C;
}

/*Slideshow*/

#slide {
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBg 17s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("../images/image1.jpg");
}

@keyframes slideBg {
    0% {
        background-image: url("../images/image1.jpg"), url("../images/image3.jpg");
    }

    25% {
        background-image: url("../images/image3.jpg"), url("../images/image2.jpg");
    }

    50% {
        background-image: url("../images/image2.jpg"), url("../images/image4.jpg");
    }

    75% {
        background-image: url("../images/image4.jpg"), url("../images/image5.jpg");
    }

    100% {
        background-image: url("../images/image5.jpg"), url("../images/image5.jpg");
    }
}

/*About section*/

#about {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

#about h2 {
    text-transform: capitalize;
    font-family: Bree Serif, Pacifico, Arial;
    font-size: xx-large;
}

/*Packages and pricing section*/

#left-pack {
    width: 45%;
    float: left;
    text-align: left;
    padding-top: 50px;
    padding-left: 5%;
}

.left, .right {
    height: 300px;
}

#right-pack {
    width: 45%;
    float: right;
    text-align: right;
    padding-top: 50px;
    padding-right: 5%;
}

/*Background images for packages*/

#package1 {
    background-image: url("../images/packimage1.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package2 {
    background-image: url("../images/packimage3.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package3 {
    background-image: url("../images/packimage2.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package4 {
    background-image: url("../images/packimage4.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

.package:hover {
    transform: scale(1.1);
}
/*Text over packages*/

.overlay-text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    display: block;
    text-align: center;
    height: 150px;
    width: 500px;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, 50%);
}

.overlay-text h2 {
    text-transform: capitalize;
    font-size: xx-large;
}

/*Link from packages to contact us*/

#left-pack a, #right-pack a {
    text-decoration: none;
}

/*Footer*/

/*Social media links*/




footer div {
    font-family: Lobster, arial, sans-serif;
    height: 300px;
    font-size: 250%;
    margin-left: 5.2rem;
    margin-top: 30px;
}

.social {
    text-align: right;
}

.social li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #1F5B3A;
    padding: 5%;
}