@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bree Serif', serif, arial;
    font-weight: 200;
    color: #1F5B3A;
    background-color: #F8F4E3;
}

/*header and logo*/

header {
    font-family: 'Lobster', cursive;
    background-color: #F8F4E3;
    overflow: auto;
}

#logo {
    font-weight: 400;
    font-size: 300%;
    float: left;
    color: #1F5B3A;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: .15rem;
}

#menu li {
    display: block;
    list-style-type: none;
    padding-right: 1rem;
    float: right;
}

#menu a {
    text-decoration: none;
    color: #1F5B3A;
}

#menu, #logo {
    line-height: 4.6rem;
}

#sign-up {
    margin-right: 1.5rem;
}

#menu a:hover {
    border-bottom: 2px solid #4C956C;
}

.current {
    border-bottom: 2px solid #4C956C;
}

/*Slideshow*/

#slide {
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBg 17s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("../images/image1.jpg");
}

@keyframes slideBg {
    0% {
        background-image: url("../images/image1.jpg"), url("../images/image3.jpg");
    }

    25% {
        background-image: url("../images/image3.jpg"), url("../images/image2.jpg");
    }

    50% {
        background-image: url("../images/image2.jpg"), url("../images/image4.jpg");
    }

    75% {
        background-image: url("../images/image4.jpg"), url("../images/image5.jpg");
    }

    100% {
        background-image: url("../images/image5.jpg"), url("../images/image5.jpg");
    }
}

/*About section*/

#about {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

#about h2 {
    text-transform: capitalize;
    font-family: 'Bree Serif', serif;
    font-size: xx-large;
}

#about p {
    font-size: large;
}

/*Packages and pricing section*/

#media {
    height: 650px;
}

#left-pack {
    width: 45%;
    float: left;
    text-align: left;
    padding-top: 50px;
    padding-left: 5%;
}

.left, .right {
    height: 300px;
}

#right-pack {
    width: 45%;
    float: right;
    text-align: right;
    padding-top: 50px;
    padding-right: 5%;
}

/*Background images for packages*/

#package1 {
    background-image: url("../images/packimage1.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package2 {
    background-image: url("../images/packimage3.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package3 {
    background-image: url("../images/packimage2.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

#package4 {
    background-image: url("../images/packimage4.jpg");
    background-repeat: no-repeat;
    transition: .2s;
}

 /*Transition for packages pop up*/
 
.package:hover {
    transform: scale(1.1);
}

/*Text over packages*/

.overlay-text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    display: block;
    text-align: center;
    height: 9.375rem;
    width: 31.25rem;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, 50%);
}

.overlay-text h2 {
    text-transform: capitalize;
    font-size: 200%;
}

.overlay-text p {
    font-size: 105%;
}

/*Link from packages to contact us*/

#left-pack a, #right-pack a {
    text-decoration: none;
}

/*Footer*/

/*Social media links*/

footer {
    height: 150px;
    width: 100%;
}

.footer-text {
    font-family: 'Lobster', cursive;
    font-size: 300%;
    margin-left: 5.2rem;
    margin-top: 20px;
    width: 45%;
    float: left;
    text-align: left;
}

.social {
    float: right;
    width: 45%;
    text-align: right;
}
 
.social li {
    display: inline;
}
 
.social i {
    font-size: 300%;
    color: #1F5B3A;
    padding-top: 50px;
    padding-right: 10%;
}

/*Form*/

#form {
    clear: left;
    background: url(../images/background-contact.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    text-align: center;
}

.contact-form {
    margin: 0 auto;
    color: #1F5B3A;
    background-color: rgba(248, 244, 227, 0.7);
    max-width: 600px;
    left: 10%;
    padding: 10px;
    top: 50%;
    transform: translate( 0, 50%);
}

.signup-text {
    background: transparent;
    color: #1F5B3A;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #1F5B3A;
    border-radius: 2px;
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1F5B3A;
    color: #F8F4E3;
    display: block;
    margin-left: 40%;
}


/*For larger to medium screens 1200px and down*/

@media screen and (max-width: 1200px) {

    .overlay-text {
        width: 28.6rem;
        height: 9.6rem;
    }
}

@media screen and (max-width:1150px) {
    
    .package:hover {
        transform: none;
    }
}

@media screen and (max-width: 1100px) {
    
    #left-pack {
        width: 50%;
        padding-left: 0;
    }

    #right-pack {
        width: 50%;
        padding-right: 0;
    }

    .overlay-text {
        width: 26rem;
        height: 10rem;
    }

    /*Footer under 1100px*/

    footer {
        height: 300px;
    }

    .footer-text {
        text-align: center;
        font-size: 300%;
        width: 100%;
        margin-left: 0;
    }

    .social {
        text-align: center;
        width: 100%;
    }

    .social i {
        font-size: 250%;
        padding-top: 40px;
        padding-right: 5%;
    }
}

/*For smaller screens 900px and down*/

@media screen and (max-width: 900px) {
    #menu {
        clear: left;
        float: left;
        line-height: 6rem;
        margin-left: 30px;
    }    

    #right-pack, #left-pack {
        float: none;
        background-size: cover;
        width: 100%;
    }

    #right-pack {
        padding-top: 0;
    }

    #media {
        height: 1300px;
    }
}
/*For small screens (Phones) below 525px*/

@media screen and (max-width: 525px) {

    #menu {
        font-size: 100%;
        margin-left: auto;
        /*margin-right: .5rem;*/
    }

    footer div {
        height: 100px;
        font-size: 150%;
        text-align: center;
        margin-left: auto;
    }
}

/*For smaller phones screens below 400px*/

@media screen and (max-width: 400px) {
    .overlay-text {
        width: 22rem;
        height: 11rem;
        font-size: 90%;
    }

    #logo {
        font-size: 225%;
    }

    #menu {
        font-size: 90%;
        letter-spacing: .05rem;
        margin-left: 2%;
    }

    #sign-up {
        padding-right: 0;
    }
}