@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, Sans-Serif, Arial;
    font-weight: 200;
    color: green;
    background-color: #F8F4E3;
}

/*header and logo*/

header {
    font-family: Lobster, arial, sans-serif;
    background-color: #F8F4E3;
    overflow: auto;
}

#logo {
    font-weight: 400;
    font-size: 300%;
    float: left;
    color: #4C956C;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: .15rem;
}

#menu li {
    display: block;
    list-style-type: none;
    padding-right: 1rem;
    float: right;
}

#menu a {
    text-decoration: none;
    color: #4C956C;
}

#menu, #logo {
    line-height: 4.6rem;
}

#sign-up {
    margin-right: 1.5rem;
}

#menu a:hover {
    border-bottom: 2px solid #4C956C;
}

.current {
    border-bottom: 2px solid #4C956C;
}

/*Slideshow*/

#slide {
    width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBg 17s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("../images/image1.jpg");
}

@keyframes slideBg {
    0% {
        background-image: url("../images/image1.jpg"), url("../images/image3.jpg");
    }

    25% {
        background-image: url("../images/image3.jpg"), url("../images/image2.jpg");
    }

    50% {
        background-image: url("../images/image2.jpg"), url("../images/image4.jpg");
    }

    75% {
        background-image: url("../images/image4.jpg"), url("../images/image5.jpg");
    }

    100% {
        background-image: url("../images/image5.jpg"), url("../images/image5.jpg");
    }
}

/*About section*/

#about {
    text-align: center;
}

#about h2 {
    text-transform: capitalize;
    font-family: Bree Serif, Pacifico, Arial;
    font-size: xx-large;
}

#about div {
    max-width: 1000px;
    margin: 0 auto;
}