@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, Sans-Serif, Arial;
    font-weight: 200;
    color: green;
}

/*header and logo*/

header {
    font-family: Bebas Neue, arial, sans-serif;
    background-color: #E2E2E2;
}

#logo {
    font-weight: 400;
    font-size: 300%;
    float: left;
    margin: 10px 0 0 10px;
    color: #4C956C;
}

/*navigation links*/

