@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Bree Serif, Sans-Serif, Arial;
    font-weight: 200;
    color: green;
}

/*header and logo*/

header {
    font-family: Bebas Neue, arial, sans-serif;
    background-color: black;
    overflow: auto;
}

#logo {
    font-weight: 400;
    font-size: 300%;
    float: left;
    color: #4C956C;
}

/*navigation links*/

#menu {
    font-size: 150%;
}

#menu li {
    display: block;
    float: right;
    list-style-type: none;
    padding-right: 1rem;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: #4C956C;
}

#menu, #logo {
    line-height: 4.6rem;
}